main {
    margin: 2.5vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    width: 95%;
    height: 75vh;
    padding: 2% 1%;
    background-color: var(--background);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    overflow: scroll;
    animation: popUp 1s 0.5s, fadeIn 1s 0.5s forwards;
}

main::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

main::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 10px;
}

main #texto {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

main a {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

main article {
    font-size: 3rem;
    width: 60%;
    padding: 20px 15px;
    display: flex;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    opacity: 0;
}

main article:hover {
    box-shadow: 1px -1px 10px rgba(255, 255, 255, 0.487), -1px 1px 10px rgba(255, 255, 255, 0.487), -1px 0px 10px rgba(255, 255, 255, 0.487), 1px 0px 10px rgba(255, 255, 255, 0.487);
}

main article#linkedin,
main article#git {
    justify-content: end;
}

main article#wpp {
    animation: leftToRigth 1s 1s, fadeIn 1s 1s forwards;
}

main article#linkedin {
    animation: rigthToLeft 1s 1.5s, fadeIn 1s 1.5s forwards;
}

main article#mail {
    animation: leftToRigth 1s 2s, fadeIn 1s 2s forwards;
}

main article#git {
    animation: rigthToLeft 1s 2.5s, fadeIn 1s 2.5s forwards;
}

main article#wpp:hover i {
    color: green
}

main article#linkedin:hover i {
    color: #0a66c2;
}

main article#mail:hover i {
    color: var(--texto-primario);
}

main article#git:hover i {
    color: var(--portfolio);
}

main article#wpp i,
main article#mail i {
    font-size: 5rem;
    margin-right: 15px;
}

main article#linkedin i,
main article#git i {
    font-size: 5rem;
    margin-left: 15px;
}

footer {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: var(--background);
    backdrop-filter: blur(10px);
    border-radius: 10px 10px 0 0;
    opacity: 0;
    animation: fadeIn 1s 2.5s forwards, bottonToUp 1s 2.5s;
}

@media screen and (max-width: 1200px) {
    main article {
        width: 70%;
    }
}

@media screen and (max-width: 1030px) {
    main article {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    main article {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 760px) {
    main #texto {
        font-size: 2rem;
    }
    main article {
        font-size: 2rem;
    }
}

@media screen and (max-width: 650px) {
    main article {
        width: 90%;
    }
}