@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
body,
header,
main,
footer,
nav,
section,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
a,
figure,
img,
label,
input,
span {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    color: white;
    font-size: 8px;
    font-family: 'Source Sans Pro', sans-serif;
    --background: #212229a1;
    --nav: #212229;
    --scroll: #212229;
    --texto-primario: #fa6c6c;
    --texto-secundario: #8a93cc;
    --portfolio: #2d3466;
}

body {
    background: url(../img/binary.jpg) fixed no-repeat;
    background-size: cover;
    overflow: hidden;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes upToBotton {
    0% {
        transform: translate(0, -150%);
    }
}

@keyframes bottonToUp {
    0% {
        transform: translate(0, 150%);
    }
}

@keyframes leftToRigth {
    0% {
        transform: translate(-100%, 0);
    }
}

@keyframes rigthToLeft {
    0% {
        transform: translate(100%, 0);
    }
}

@keyframes rolar {
    0% {
        transform: rotate(-360deg);
    }
}

@keyframes popUp {
    0% {
        transform: scale(0);
    }
}

@keyframes abrir {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 2000px;
    }
}

@media screen and (max-width: 425px) {
     :root {
        font-size: 6px;
    }
}