body,
header,
main,
footer,
nav,
section,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
a,
figure,
img,
label,
input,
span {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    color: white;
    font-size: 8px;
    --background: #212229a1;
    --nav: #212229;
    --scroll: #212229;
    --texto-primario: #fa6c6c;
    --texto-secundario: #aeaeae;
}

body {
    background: url(../img/binary.jpg) fixed no-repeat;
    background-size: cover;
    overflow: hidden;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes upToBotton {
    0% {
        transform: translate(0, -150%);
    }
}

@keyframes leftToRigth {
    0% {
        transform: translate(-100%, 0);
    }
}

@keyframes rolar {
    0% {
        transform: rotate(-360deg);
    }
}

@keyframes popUp {
    0% {
        transform: scale(0);
    }
}

@keyframes abrir {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 2000px;
    }
}