main {
    margin: 2.5vh;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75vh;
    padding: 2% 1%;
}

main .containerUser {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    animation: leftToRigth 1s .5s;
}

main figure {
    width: 90%;
    background-color: var(--background);
    overflow: hidden;
    border-radius: 100%;
    backdrop-filter: blur(10px);
    opacity: 0;
    animation: rolar 1s .5s, fadeIn 1.5s .5s forwards;
    border: 3px outset var(--texto-primario);
}

main figure img {
    position: relative;
    top: 2px;
    width: 100%;
}

main .containerAbout {
    background-color: var(--background);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    opacity: 0;
    max-height: 500px;
    overflow-y: scroll;
    animation: popUp 1s 1s, fadeIn 1s 1s forwards;
}

main .containerAbout::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

main .containerAbout::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 10px;
}

main .containerAbout h3 {
    margin-bottom: 15px;
    font-size: 2.5rem;
}

main .containerAbout h2 {
    font-size: 3rem;
    margin-bottom: 15px;
}

main .containerAbout p {
    margin-bottom: 10px;
    font-size: 2.2rem;
}

main .abilities {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

main .abilities p {
    width: 100%;
}

main .abilities article {
    font-size: 2rem;
    border: 1px solid gray;
    width: max-content;
    display: flex;
    height: max-content;
    align-items: center;
    padding: 5px 7.5px;
    cursor: default;
    margin-right: 10px;
    border-radius: 10px;
    transition: .5s linear;
}

main .abilities i {
    margin-right: 5px;
    font-size: 3rem;
}

#html:hover {
    background-color: #e65100;
}

#css:hover {
    background-color: #1c5598;
}

#js:hover {
    background-color: #f0c800;
}

#git:hover {
    background-color: #f4511e;
}

#react:hover {
    background-color: #62dafc;
}

footer {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: var(--background);
    backdrop-filter: blur(10px);
    border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 425px) {
     :root {
        font-size: 6px;
    }
}

@media screen and (max-width: 650px) {
    body {
        overflow: visible;
    }
    body::-webkit-scrollbar {
        width: 10px;
        height: 0px;
    }
    body::-webkit-scrollbar-thumb {
        background-color: var(--scroll);
        border-radius: 10px;
    }
    main .abilities article {
        margin-bottom: 5px;
    }
    main {
        flex-direction: column;
        height: max-content;
        background-color: var(--background);
        backdrop-filter: blur(10px);
        margin: 5px;
        width: 95vw;
        border-radius: 10px;
    }
    main .containerUser {
        width: 50%;
    }
    main .containerUser figure {
        background-color: transparent;
        backdrop-filter: none;
    }
    main .containerAbout {
        background-color: transparent;
        width: 100%;
        max-height: max-content;
        margin-top: 10px;
        backdrop-filter: none;
        overflow: visible;
    }
}